<%- include('../partials/adminHeader') %>


<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<main>


<section class="py-1 bg-blueGray-50 ">
<div class="w-full mb-12 xl:mb-0 px-2 mt-16">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
    <div class="rounded-t mb-0 px-4 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-base text-blueGray-700">    </h3>
        </div>

      </div>
    </div>

    <div class="w-full">
      <table class="items-center bg-transparent border-collapse w-full">
        <thead>
            
          <tr>
            <th class=" bg-blueGray-200 pl-5 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                         Name</th>
            <th class=" bg-blueGray-200 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3  text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                         Description</th>
          <th class=" bg-blueGray-200 text-blueGray-500  border border-solid border-blueGray-100 py-3 pr-20  text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold">
                          Edit</th>
          <th class=" bg-blueGray-200 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 pr-20 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                          Delete</th>
        
         
          </tr>
        </thead>

        <tbody>
            <% categories.forEach(category => { %>
          <tr>
            <td class="border-t-0 pl-5 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap">
                <%= category.categoryName %>
            </td>
         
            <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap w-auto">
                <%= category.description %>
            </td>
     
            <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap">
                <a href="./category-edit/<%= category._id %>" class="font-medium font-sans text-xs text-red-950  hover:underline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                      </svg>
                  </a>
            </td>
            <td class="border-t-0 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <a href="./category-block/<%= category._id %>" class="font-medium text-red-950  hover:underline">
                    <% if (category.deleted == false) { %>
                        <span class="relative flex h-3 w-3">
                            <span class="animate-ping absolute inline-flex h-full rounded-full bg-blue-400 opacity-75"> </span>
                            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500 pl-3">Block</span>
                          </span>
                    <% } else { %>

                        <span class="relative flex h-3 w-3">
                            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"> </span>
                            <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500 pl-3">Unblock</span>
                          </span>
                    <% } %>    
            </td>
       
          </tr>
        <% }) %>
        </tbody>

      </table>
      <section class="mb-14 mt-10">
        <a href="./category-add" type="submit" class="flex w-32 rounded-md bg-pink-300 px-3 py-1.5 text-sm font-semibold leading-6 text-gray-700 shadow-sm hover:bg-yellow-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add Category</a>

    </section>
    </div>
  </div>
</div>

</section>

</main>



<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/OneCart/controllers/UserMangementConroller.js"></script>

<%- include('../partials/adminFooter') %>