<%- include('../partials/adminHeader') %>

<style>
  body {
    overflow-x: hidden;
  }
</style>
<main>

<section class="py-1 bg-blueGray-50">
<div class="w-5/6 mb-12 xl:mb-0 px-1 mt-16">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
    <div class="rounded-t mb-0 px-1 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative  px-1 flex-grow flex-1">
          <h3 class="font-semibold text-base text-blueGray-700">    </h3>
        </div>
      </div>
    </div>
    <div class="w-full">
      <table class="items-center bg-transparent w-full border-collapse ">
        <thead>
          <tr>
            <th class="pl-5 bg-violet-600 text-white align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
             Coupone Code
            </th>
          <th class="pl-5 bg-violet-600 text-white align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
             Description
            </th>
           <th class=" bg-violet-600 text-white align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
             Discount
            </th>
          <th class=" bg-violet-600 text-white align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
             Minimum Amount
            </th>
          <th class=" bg-violet-600 text-white align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
             Expiry Date
            </th>
          <th class=" bg-violet-600 text-white align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
             Delete
            </th>
          </tr>
        </thead>

        <tbody>
            <% coupon.forEach(coup => { %>
          <tr>
            <th class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap py-3 text-left text-blueGray-700 ">
                 <%= coup.couponCode %>
            </th>
            <td class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap py-3 ">
                 <%= coup.description %>
            </td>
            <td class="border-t-0 px-2 align-center border-l-0 border-r-0 text-xs whitespace-nowrap py-3">
                 <%= coup.discount %>
            </td>
            <td class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap py-3">
              <i class="mr-4"></i>
               <%= coup.minimumAmount %>
            </td>
            <td class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap py-3">
              <i class="mr-4"></i>
              <% const expiryDate = new Date(coup.expiryDate);
                  const day = expiryDate.getDate();
                  const month = expiryDate.getMonth() + 1; 
                  const year = expiryDate.getFullYear();
                  const formattedDate = `${day}-${month}-${year}`;%>
              <%= formattedDate %>
          </td>
            <td class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap py-3">
              <!-- <a href="/admin/deleteCoupon/ <%= coup.id %>"> Delete</a> -->
              Delete
            </td>
          </tr>
        <% }) %>
        </tbody>

      </table>
    </div>
  </div>
</div>
<div class=" flex-grow flex-1 text-left">
  <a href="/admin/coupon-add" class="bg-violet-600 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Add Coupon</a>
</div>

</section>

</main>

<script>
  function parseQueryParams() {
      var queryParams = {};
      var queryString = window.location.search.substring(1);
      var params = queryString.split("&");
      for (var i = 0; i < params.length; i++) {
          var pair = params[i].split("=");
          queryParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
      }
      return queryParams;
  }

  document.addEventListener('DOMContentLoaded', function() {
      var queryParams = parseQueryParams();
      var message = queryParams['message'];
      var type = queryParams['type'];
      if (message) {
          if (type === 'success') {
              toastr.success(message);
          } else if (type === 'error') {
              toastr.error(message);
          }else if(type === 'warning'){
            toastr.warning(message)
          }
      }
  });
</script>

<%- include('../partials/adminFooter') %>