<%- include('../partials/adminHeader') %>

   <main>
      <!-- Content -->
        <div class="p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-6">
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="text-2xl font-semibold"><%= list[0] %></div>
                            </div>
                            <div class="text-sm font-medium text-gray-400">Users</div>
                        </div>
                    </div>
                    <a href="/admin/userManagement" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-4">
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="text-2xl font-semibold"><%= list[1] %></div>                 </div>
                            <div class="text-sm font-medium text-gray-400">Brands</div>
                        </div>
                    </div>
                    <a href="/admin/product-list" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-6">
                        <div>
                            <div class="text-2xl font-semibold mb-1"><%= list[2] %></div>
                            <div class="text-sm font-medium text-gray-400">Categories</div>
                        </div>
                    </div>
                    <a href="/admin/category-list" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
                </div>
            </div>
                <!-- Graph 1 -->
                <div class="grid grid-cols-1 lg:grid-cols-1 mb-6">
                  <div class="relative flex flex-col min-w-0 mb-4 lg:mb-0 break-words bg-gray-50 shadow-lg w-full">
                      <div class="mb-0 px-0 border-0">
                          <div class="flex flex-wrap items-center px-4 py-2">
                              <div class="bg-white border border-gray-100 shadow-md w-full">
                                  <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mb-6">
                                      <div class="bg-white border border-gray-100 shadow-md p-6 rounded-md lg:col-span-2">
                                    
                                          <article class="card-body">
                                            <h5 class="card-title">Sale statistics</h5>
                                            <canvas id="myChart" height="120px"></canvas>
                                        </article>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
      <!-- End Content -->
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- Your Chart.js initialization script -->


    
    <!-- Other scripts -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <script>
        var toastMessage = "<%= typeof toastMessage !== 'undefined' ? toastMessage.text : '' %>";
        document.addEventListener('DOMContentLoaded', function() {
            if (toastMessage !== '') {
                toastr.success(toastMessage);
            }
        });
    </script>
    

    <script>
    $(document).ready(function() {
        // Chart.js code for generating the chart
        if ($('#myChart').length) {
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Sales',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                    borderColor: 'rgba(44, 120, 220)',
                    data: [18, 17, 4, 3, 2, 20, 25, 31, 25, 22, 20, 9]
                }]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        },
                    }
                }
            }
        });
    }
    });
</script>

    
<%- include('../partials/adminFooter') %>
