<%- include('../partials/adminHeader') %>

   <main>
      <!-- Content -->
        <div class="p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-6">
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="text-2xl font-semibold"><%= list[0] %></div>
                            </div>
                            <div class="text-sm font-medium text-gray-400">Users</div>
                        </div>
                    </div>
                    <a href="/admin/userManagement" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-4">
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="text-2xl font-semibold"><%= list[1] %></div>                 </div>
                            <div class="text-sm font-medium text-gray-400">Brands</div>
                        </div>
                    </div>
                    <a href="/admin/product-list" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-6">
                        <div>
                            <div class="text-2xl font-semibold mb-1"><%= list[2] %></div>
                            <div class="text-sm font-medium text-gray-400">Categories</div>
                        </div>
                    </div>
                    <a href="/admin/category-list" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
                </div>
            </div>
                <!-- Graph 1 -->
                <div class="grid grid-cols-1 lg:grid-cols-1 mb-6">
                  <div class="relative flex flex-col min-w-0 mb-4 lg:mb-0 break-words bg-gray-50 shadow-lg w-full">
                      <div class="mb-0 px-0 border-0">
                          <div class="flex flex-wrap items-center px-4 py-2">
                              <div class="bg-white border border-gray-100 shadow-md w-full">
                                  <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mb-6">
                                      <div class="bg-white border border-gray-100 shadow-md p-6 rounded-md lg:col-span-2">
                                          <div class="flex justify-between mb-4 items-start">
                                              <div class="font-medium">Order Statistics</div>
                                          </div>
                                          <div class="overflow-hidden">
                                              <canvas id="order-chart" class="w-full"></canvas>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
      <!-- End Content -->
    </main>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var toastMessage = "<%= typeof toastMessage !== 'undefined' ? toastMessage.text : '' %>";
        document.addEventListener('DOMContentLoaded', function() {
            if (toastMessage !== '') {
                toastr.success(toastMessage);
            }
        });
    </script>
    
<%- include('../partials/adminFooter') %>
