<%- include('../partials/adminHeader') %>



<section class="py-24 relative">
    <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
        <h2 class="font-manrope font-bold text-4xl leading-10 text-black text-center">
            Order Details </h2>
                   <% product.forEach( item => { %>
                        <div class="flex flex-col lg:flex-col items-center py-6 gap-6 w-full ">
                    <div class="flex flex-row img-box max-lg:w-full bg-white rounded-lg">
                        <img src="/product_images/<%= item.productImage[0] %>" alt="product image" 
                            class="aspect-square w-full lg:max-w-[140px] mx-8">
                    
                    <div class="flex  items-center w-full ">
                        <div class="grid grid-cols-1 lg:grid-cols-2 w-full">
                            <div class="flex items-center">
                                <div class=" ml-12">
                                    <h2 class="font-semibold text-xl leading-8 text-black mb-3">
                                       <%= item.productName %></h2>
                                    <p class="font-normal text-lg leading-8 text-gray-500 mb-3">
                                        <%= item.color %></p>
                                    <div class="flex items-center  ">
                                        <p
                                            class="font-medium text-base leading-7 text-black pr-4 mr-4 border-r border-gray-200">
                                            Size: <span class="text-gray-500"> <%= item.size %></span></p>
                                        <p class="font-medium text-base leading-7 text-black ">Qty: <span
                                                class="text-gray-500"> <%= item.stock %></span></p>
                                    </div>
                                </div>
                                <div class="col-span-5 lg:col-span-1 flex items-center max-lg:mt-3 ml-24">
                                    <div class="flex gap-3 lg:block">
                                        <p class="font-medium text-sm leading-7 text-black">Email</p>
                                        <p class="lg:mt-4 font-medium text-sm leading-7 text-indigo-600"><%= user.email %>₹</p>
                                    </div>
                                </div>


                            </div>
                            <div class="grid grid-cols-6">
                                <div class="col-span-5 lg:col-span-1 flex items-center max-lg:mt-3 ml-5">
                                    <div class="flex gap-3 lg:block">
                                        <p class="font-medium text-sm leading-7 text-black">price</p>
                                        <p class="lg:mt-4 font-medium text-sm leading-7 text-indigo-600"><%= item.price %>₹</p>
                                    </div>
                                </div>


                                <div class="col-span-5 lg:col-span-2 flex items-center max-lg:mt-3 ">
                                    <div class="flex gap-3 lg:block">
                                        <p class="font-medium text-sm leading-7 text-black">Payment Method
                                        </p>
                                        <p
                                            class="font-medium text-sm leading-6 hover:bg-sky-500 hover:text-white py-0.5 px-3 whitespace-nowrap rounded-full lg:mt-3 bg-indigo-100 text-indigo-600">
                                           <%= orders.paymentMethod %> </p>
                                    </div>

                                </div>


                              
                                <div class="col-span-5 lg:col-span-2 flex items-center max-lg:mt-3">
                                    <div class="flex gap-3 lg:block">
                                        <p class="font-medium text-sm whitespace-nowrap leading-6 text-black">
                                          Shipping Address </p>
                                        <p class="font-medium text-base whitespace-nowrap leading-7 lg:mt-3 text-emerald-500">
                                             <%= address.address %>, <%= address.city %>, <%= address.state %></p>
                                       
                                        <p class="font-medium text-base whitespace-nowrap leading-7 lg:mt-3 text-emerald-500">
                                             <%= address.country %>, <%= address.pincode %></p>
                                    </div>

                                </div>



                            </div>
                        </div>


                    </div>
                   
                </div>
            </div>
                <% }) %>

            </div>
       

</section>
                                        
<section class="ml-96 pb-32">
   
    <% if(orders.return){ %>
        <% if(orders.return.return === true){ %>
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-500 ">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Reason For Return</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> <%= orders.return.reason %> </p>
            <button onclick="acceptReturn('<%= orders.id %>')" class="mt-5 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Accept</button>
            <button onclick="rejectReturn('<%= orders.id %>')" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Reject</button>
      <% }else{ %>
        <span class="hidden">None</span>
        <% } %>
        <% } %>
    </div>
</section>


<script>

    // -------------- order return accept -----------------
    const acceptReturn = (orderId) => {
        alert(orderId)
        fetch('/returnAccept',{
                        method:"POST",
                        headers:{
                            "Content-Type" : "application/json"
                        },
                        body:JSON.stringify({
                            totalPrice : totalPrice,
                            paymentMethod : paymentMethod,
                            subTotal : subTotal,
                            addressId : selectedId
                          })
                            }).then(() => {
                                    window.location.href = '/orderSuccess'
                            })
    }

    // -------------- order return reject -----------------
    const rejectReturn = (orderId) => {
        alert(orderId)
        fetch('/admin/returnReject',{
            method:"POST",
            headers:{
                "Content-Type" : "application/json"
            },
            body:JSON.stringify({
                orderId : orderId
              })
                }).then(() => {
      })}



</script>

<%- include('../partials/adminFooter') %>