<%- include('../partials/adminHeader') %>

<main>

    <!---------------- Sorting orders ---------------->
<section class="flex justify-end items-end">
    <div class="relative">
      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="mt-12 text-gray-950 h-9 w-44 border border-gray-950 bg-gray-500  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 inline-flex dark:bg-gray-50 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-blue-800 justify-center" type="button" onclick="toggleDropdown()">
        <span class="flex items-center font-thin">Sort By</span>
        <svg class="w-2.5 h-2.5 mt-2 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
      </button>
      <div id="dropdown" class="absolute right-0 z-10 hidden bg-white divide-y divide-gray-100 shadow w-44 dark:bg-gray-100 text-gray-950">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="/admin/sortOrderAdmin/recentOrders" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Recent orders</a>
          </li>
          <li>
            <a href="/admin/sortOrderAdmin/olderOrders" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >Older orders</a>
          </li>
          <li>
            <a href="/admin/sortOrderAdmin/deleveredOrders" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >Delivered</a>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <div class="relative overflow-x-auto shadow-md mt-5">
      <!---------------- order table ----------------->
    <section>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-12">
        <thead class="text-xs text-gray-700 uppercase bg-yellow-500  dark:text-gray-400">
            <tr>
               <th scope="col" class="px-6 3">Username</th>
               <th scope="col" class="px-6 py-3">Total</th>
               <th scope="col" class="px-6 py-3">Payment Method</th>
               <th scope="col" class="px-6 py-3">Status</th>
               <th scope="col" class="px-6 py-3">Create date</th>
               <th scope="col" class="px-6 py-3">Details</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
            <tr class="bg-white  hover:bg-gray-50 ">
                <td class="px-6 py-4">
                    <a class="font-medium font-sans text-xs text-gray-950  hover:underline"><%= order.address.name %> </a>
                    <input class="hidden" id="orderId" value="<%= order.id %>"/>
                </td>
                <td class="px-6 py-4">
                  <a class="font-medium font-sans text-xs text-gray-950  hover:underline"><%= order.total %> </a>
                </td>
                <td class="px-6 py-4">
                  <a class="font-medium font-sans text-xs text-gray-950  hover:underline"><%= order.paymentMethod %> </a>
                </td>
                 <td class="flex">
                    <p id="orderId"  value="<%= order.id %>"></p>
                           <% if(order.status == "Cancelled"){ %>
                              <span class="text-gray-400">Cancelled</span>
                           <% }else if(order.status == "Delivered"){ %>
                              <span class="text-gray-400">Delivered</span>
                           <% }else if(order.status == "PaymentFailed"){ %>
                              <span class="text-gray-400">Payment Failed</span>
                           <% }else if(order.status == "Returned"){ %>
                              <span class="text-gray-400">Returned</span>
                           <% }else if(order.status == "returnRejected"){ %>
                              <span class="text-gray-400">Return Rejected</span>
                           <% }else if(order.status == "Processing"){ %>
                         <select class="category orderStatus block w-36 h-6  text-gray-500 shadow-sm  focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 font-sans">
                            <option selected disabled> <%= order.status %> </option>
                            <option>Shipped</option>
                            <option value="Cancelled">Cancelled</option>
                         </select>
                         <div><button class="orderStatusChangeButton ml-4 text-green-600"> change </button> </div>
                      <% }else if(order.status == "Shipped"){ %>
                        <select class="category orderStatus block w-36 h-6  text-gray-500 shadow-sm  focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 font-sans">
                              <option selected disabled> <%= order.status %> </option>
                              <option value="Delivered">Delivered</option>
                              <option value="Cancelled">Cancelled</option>
                        </select>
                        <div><button class="orderStatusChangeButton ml-4 text-green-600"> change </button> </div>
                        <% }else if(order.status == "returnAccepted"){ %>
                          <select class="category orderStatus block w-36 h-6  text-gray-500 shadow-sm  focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 font-sans">
                            <option selected disabled> <%= order.status %> </option>
                            <option value="Returned">Returned</option>
                      </select>
                      <div><button class="orderStatusChangeButton ml-4 text-green-600"> change </button></div>
                      <% } %>
                </td>
                <td class="px-6 py-4">
                  <a  class="font-medium font-sans text-xs text-gray-950  hover:underline"> <%
                    var createDate = new Date(order.createdate);
                    var date = createDate.toLocaleDateString();
                    var time = createDate.toLocaleTimeString();
                    %>
                    <p><%= date %> &nbsp;<%= time %></p>
                  </a>
                </td>
                  <td>
                    <% if(order.return){ %>
                      <div class="relative inline-block ">
                        <a href="/admin/orderDetailsAdmin/<%= order.id %>">
                          <img class="h-3.5 w-3.5 ml-9" src="/images/resume.png" alt="order details">
                      </a>
                        <span class="absolute top-0 right-0 inline-flex rounded-full h-2 w-2 bg-green-500 "></span>
                      </div>
                      
                     <% }else{ %>
                      <a href="/admin/orderDetailsAdmin/<%= order.id %>">
                        <img class="h-3.5 w-3.5 ml-9" src="/images/resume.png" alt="order details">
                    </a>
                      <% } %>
                  </td>
            </tr>
          <% }) %>
        </tbody>
    </table>

  
</section>

  <!----------------------- pagination ----------------------->
    <section class="text-center w-full sm:w-3/4 mx-auto border-t flex justify-center py-6   ">
        <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>" class="px-2 font-sans hover:text-sky-600"> &lt; </a>
        <% } %>
        <% for (let i = 1; i <= totalPage; i++) { %>
            <a href="?page=<%= i %>" class="px-2 font-sans hover:text-sky-600 <%= i === currentPage ? 'bg-sky-600 rounded-full' : '' %>"> <%= i %> </a>
        <% } %>
        <% if (currentPage < totalPage) { %>
            <a href="?page=<%= parseInt(currentPage) + 1 %>" class="px-2 font-sans hover:text-sky-600"> &gt; </a>
        <% } %>
    </section>
</div>
</main>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        dropdown.classList.toggle('hidden');
      }
</script>

<script>
    const orderStatusChangeButtons = document.querySelectorAll('.orderStatusChangeButton');
    orderStatusChangeButtons.forEach(button => {
        button.addEventListener('click', (e) => {
        
        const td = e.target.closest('td');
        const select = td.querySelector('select');
        const orderStatus = select.value;
        const orderId = td.querySelector('#orderId').getAttribute('value');
        fetch('/admin/orderStatus',{
        method:"POST",
          headers:{
              "Content-Type" : "application/json"
          },
          body:JSON.stringify({
              orderStatus : orderStatus,
              orderId : orderId
            })
       }).then(response => {
        window.location.href = '/admin/orderManagement'
    if (response.ok) {
        return response.json()}
            throw new Error('Network response was not ok.');
        })
    //     .then(data => {
    //         let discount = parseFloat(data.discountPrice);
    //         const subTotal = parseFloat(document.getElementById('subTotal').innerText);
    //         const discountAmount = (subTotal * discount) / 100;
    //         const total = document.getElementById('totalPrice').innerText = subTotal - discountAmount ;
    //         const discountDisplay = document.getElementById('discountAmount').innerText = discountAmount;
    //         console.log('Selected coupon:', selectedCoupon);
    //     });
     } );

  });
</script>

<%- include('../partials/adminFooter') %>