<%- include('../partials/adminHeader') %>

<main class="p-4">
    <section class="flex justify-end items-end">
        <div class="relative">
          <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-gray-950 h-9 w-44 border border-gray-950 bg-gray-50  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 inline-flex dark:bg-gray-50 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-blue-800 justify-center" type="button" onclick="toggleDropdown()">
            <span class="flex items-center font-thin">Sort By</span>
            <svg class="w-2.5 h-2.5 mt-2 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
          </button>
      
          <div id="dropdown" class="absolute pt-12 right-0 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-100 text-gray-950">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="/admin/sortProductAdmin/recentProducts" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Recently added</a>
              </li>
              <li>
                <a href="/admin/sortProductAdmin/olderProducts" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >Older products</a>
              </li>
              <li>
                <a href="/admin/sortProductAdmin/blockedProducts" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >Blocked products</a>
              </li>
              <li>
                <a href="/admin/sortProductAdmin/unBlockedProducts" class="block px-4 py-2 text-gray-950 font-thin hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >Unblocked products</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

    <div class="overflow-x-auto shadow-md mt-7">
        <table class="w-full text-xs font-sans text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-blue-800 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Name</th>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Stock</th>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Brand</th>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Color</th>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Price</th>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Action</th>
                    <th scope="col" class="px-4 md:px-6 py-3 md:py-4">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
     <!-------------------- enable border ------------------->
                <!-- <tr class="bg-white border-b dark:border-gray-400 hover:bg-gray-50"> -->
                <tr class="bg-white hover:bg-gray-50">
                    <th scope="row" class="flex items-center px-4 md:px-6 py-3 md:py-4 text-gray-900 whitespace-nowrap dark:text-white">
                        <img class="w-8 h-8 md:w-8 md:h-8" src="/product_images/<%= product.productImage[0] %>" alt="Product Image">
                        <div class="ps-3">
                            <span class="font-medium font-sans text-gray-950"><%= product.productName %></span>
                        </div>
                    </th>
                    <td class="px-4 md:px-6 py-4">
                        <span class="font-medium font-sans text-gray-950"><%= product.stock %></span>
                    </td>
                    <td class="px-4 md:px-6 py-4">
                        <span class="font-medium font-sans text-gray-950"><%= product.brand %></span>
                    </td>
                    <td class="px-4 md:px-6 py-4">
                        <span class="font-medium font-sans text-gray-950"><%= product.color %></span>
                    </td>
                    <td class="px-4 md:px-6 py-4">
                        <span class="font-medium font-sans text-gray-950"><%= product.price %></span>
                    </td>


                    <td class="px-6 py-4">
                        <a href="/admin/product-block/<%= product._id %>" class="font-medium text-red-950">
                            <% if (product.deleted == false) { %>
                                <span class="relative flex h-3 w-3">
                                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"> </span>
                                    <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500 pl-3">Block</span>
                                  </span>
                            <% } else { %>
                                <span class="relative flex h-3 w-3">
                                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"> </span>
                                    <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500 pl-3">Unblock</span>
                                  </span>
                            <% } %>    
                        </td>
         


                    <td class="px-4 md:px-6 py-4">
                        <a href="/admin/product-edit/<%= product._id %>" class="font-medium font-sans text-gray-950 hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
  

        <section class="text-center w-full sm:w-3/4 mx-auto border-t flex justify-center py-6   ">
            <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %>" class="px-2 font-sans hover:text-sky-600"> &lt; </a>
            <% } %>
            
            <% for (let i = 1; i <= totalPage; i++) { %>
                <a href="?page=<%= i %>" class="px-2 font-sans hover:text-white <%= i === currentPage ? 'bg-sky-600 rounded-full' : '' %>"> <%= i %> </a>
            <% } %>
            
            <% if (currentPage < totalPage) { %>
                <a href="?page=<%= parseInt(currentPage) + 1 %>" class="px-2 font-sans hover:text-sky-600"> &gt; </a>
            <% } %>
        </section>

          
   
    </div>
    <section class="text-center mt-5 mb-10">
        <a href="/admin/product-add" class="inline-block h-10 w-40 px-4 py-2 text-sm font-semibold leading-6 text-gray-400 bg-blue-800 rounded-full shadow-sm hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-700 focus:ring-opacity-50">
            Add Product
        </a>
    </section>
    
</main>
<script>
    function parseQueryParams() {
        var queryParams = {};
        var queryString = window.location.search.substring(1);
        var params = queryString.split("&");
        for (var i = 0; i < params.length; i++) {
            var pair = params[i].split("=");
            queryParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
        }
        return queryParams;
    }

    document.addEventListener('DOMContentLoaded', function() {
        var queryParams = parseQueryParams();
        var message = queryParams['message'];
        var type = queryParams['type'];
        if (message) {
            if (type === 'success') {
                toastr.success(message);
            } else if (type === 'error') {
                toastr.error(message);
            }
        }
    });
</script>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        dropdown.classList.toggle('hidden');
      }
</script>


<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/OneCart/controllers/UserMangementConroller.js"></script>


<%- include('../partials/adminFooter') %>




<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/OneCart/controllers/UserMangementConroller.js"></script>

<%- include('../partials/adminFooter') %>