<%- include('../partials/adminHeader') %>

    <!----------- toaster css ------------->
    <style>
        #toast-container > .toast-success {
          background: linear-gradient(to right, #e92d0ce3, #22242F 50% ) !important;
          width: 350px;
          height: 70px;
          position: relative;
          color: white; 
          text-align: center;
          font-size: larger;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        #toast-container > .toast-success::after {
          content: ""; 
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px; 
          background-color: rgb(255, 0, 0); 
          transform: scaleX(0); 
          transform-origin: right; 
          animation: expandLine 5s linear forwards; 
        }
      
        @keyframes expandLine {
          to {
            transform: scaleX(1); 
          }
        }
      </style>
<main>

    <section class="w-full h-auto bg-blue-700 overflow-x-auto mt-12">
        <div class="min-w-full">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-violet-500">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-sans">Profile</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-sans">Name</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-sans">Email</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-sans">Phone</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-sans">Gender</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-sans">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white ">
                    <% users.forEach(user => { %>
                    <tr class="text-xs">
                        <td class="px-6 py-4 whitespace-nowrap">
                            <% if (user.userImage) { %>
                                <img class="text-indigo-600 hover:text-indigo-900 font-medium font-sans h-8 w-8 rounded-full" src="/product_images/<%= user.userImage %>" alt="User Image">
                            <% } else { %>
                                <img class="text-indigo-600 hover:text-indigo-900 font-medium font-sans h-8 w-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN-4CFnwYyDL9H-qvQjZ9wHgTgHl99xePaWVbUfuLjXvXPnarNdTW44gkTXTNzbQrb0lo&usqp=CAU" alt="No User Image">
                            <% } %>
                            
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap font-medium font-sans" ><%= user.name %></td>
                        <td class="px-6 py-4 whitespace-nowrap font-medium font-sans"><%= user.email %></td>
                        <td class="px-6 py-4 whitespace-nowrap font-medium font-sans"><%= user.phone %></td>
                        <td class="px-6 py-4 whitespace-nowrap font-medium font-sans">Male</td>
                        <td class="px-6 py-4">
                            <a href="/admin/user-block/<%= user._id %>" class="font-medium text-red-950  hover:underline">
                                <% if (user.isBlock == false) { %>
                                    <span class="relative flex h-3 w-3">
                                        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"> </span>
                                        <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500 pl-3">Block</span>
                                      </span>
                                <% } else { %>
                                    <span class="relative flex h-3 w-3">
                                        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"> </span>
                                        <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500 pl-3">Unblock</span>
                                      </span>
                                <% } %>    
                            </td>
             
                        </tr>
                          
                              </a>
                        </td>
                    </tr>
                    <% });%>

                </tbody>
            </table>
        </div>
    </section>
</main>
<script>
    function parseQueryParams() {
        var queryParams = {};
        var queryString = window.location.search.substring(1);
        var params = queryString.split("&");
        for (var i = 0; i < params.length; i++) {
            var pair = params[i].split("=");
            queryParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
        }
        return queryParams;
    }

    document.addEventListener('DOMContentLoaded', function() {
        var queryParams = parseQueryParams();
        var message = queryParams['message'];
        var type = queryParams['type'];
        if (message) {
            if (type === 'success') {
                toastr.success(message);
            } else if (type === 'error') {
                toastr.error(message);
            }
        }
    });
</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/OneCart/controllers/UserMangementConroller.js"></script>


<%- include('../partials/adminFooter') %>