<%- include('../partials/header') %>

<main class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">

    <section class="mt-14 text-center">
        <h1 class="michroma-regular text-2xl">YOUR CART</h1>
        <p class="mt-5 border-t border-gray-400 font-thin text-sm "><%= items.total %> products </p>
    </section>

    <div class="mt-6 space-y-6">
        <!-- Product Cards -->
        <% items.products.forEach(product => { %>
        <div class="bg-white rounded-lg shadow-md flex items-center justify-between">
            <div class="flex items-center space-x-4 p-4">
                <div class="aspect-w-1 aspect-h-1 w-20 h-20 overflow-hidden">
                    <a href="/product/<%= product._id %>">
                        <img src="./product_images/<%= product.productImage[0] %>" alt="<%= product.productName %>" class="object-cover w-full h-full">
               
                    </a>
                </div>
                <div>
                    <h3 class="text-sm text-gray-700">
                        <a href="#">
                            <%= product.productName %>
                        </a>
                    </h3>
                   
                    <p class="text-sm text-gray-500"><%= product.color %></p>
                <p class="text-sm font-medium text-gray-900"><%= product.size %></p>
                </div>
            </div>

            <div class="flex items-center space-x-4 p-4">
                <p class="text-sm font-medium text-gray-900"><%= product.price %></p>
                <% const cartItem = items.cart.find(item => item.productId.toString() === product._id.toString()) %>
                <div class="flex items-center space-x-2">
                    <% if (cartItem) { %>
                    <img class="cursor-pointer h-5 w-5" onclick="removeCart('<%= cartItem._id %>')" src="https://cdn-icons-png.flaticon.com/128/10147/10147931.png" alt="Remove">
                    <% } %>
                    <% if (cartItem) { %>
                    <% for (let i = 1; i <= 1; i++) { %>
                        <input class="hidden productId " value="<%= cartItem.id %>"></input>
                        <span class="text-xl cursor-pointer cartDec">-</span>
                       <span class="text-gray-950 h-6 w-6 font-thin cartQty"> <%= cartItem.quantity %> </span>
                        <span class="text-xl cursor-pointer cartInc">+</span>
                    <% } %>
                    <% } else { %>
                    <span class="text-gray-950" value="0"> Out of stock </span>
                    <% } %>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <section class="flex justify-center mt-16">
        <% let totalPrice = 0; %>
        <% items.cart.forEach(cartItem => { %>
        <% const product = items.products.find(prod => prod._id.toString() === cartItem.productId.toString()); %>
        <% if (product) { %>
        <% totalPrice += product.price * cartItem.quantity; %>
        <% } %>
        <% }); %>
        
        <!------------ checkout -------------->
        <span class="font-bold"> Total: <%= totalPrice %></span><br><br>
        <a href="/checkout/<%= totalPrice %>" class="h-8 ml-4 w-44 bg-cyan-400 text-gray-100 font-semibold text-xs py-2 px-4 rounded-lg hover:bg-cyan-500">
            Checkout
        </a>

    </section>

</main>

<script>
    const removeCart = (itemId) => {
        const url = `http://localhost:4000/removeCart/${itemId}`;
        fetch(url, {
                method: 'GET'
            })
            .then(response => {
                window.location.href = '/cart'
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
               
                console.log("Item removed successfully:", data);
            })
            .catch(error => {
                console.error('Error removing item:', error);
            });
    };
    //------------ cart quantity change --------------

    const cartDecList = document.querySelectorAll('.cartDec');
cartDecList.forEach(cartDec => {
    cartDec.addEventListener('click', () => {
        const productContainer = cartDec.closest('.flex');
        const productIdElement = productContainer.querySelector('.productId');
        const productId = productIdElement.value;
        fetch('/cartDec',{
                        method:"POST",
                        headers:{
                            "Content-Type" : "application/json"
                        },
                        body:JSON.stringify({
                            productId : productId
                        })
                        }).then((response) => {
                            window.location.href = '/cart'
                            
                           
               }
            )
        
   
    });
});



    const cartIncList = document.querySelectorAll('.cartInc');
    cartIncList.forEach(cartInc => {
    cartInc.addEventListener('click', () => {
        const productContainer = cartInc.closest('.flex');
        const productIdElement = productContainer.querySelector('.productId');
        const productId = productIdElement.value;
        fetch('/cartInc',{
                        method:"POST",
                        headers:{
                            "Content-Type" : "application/json"
                        },
                        body:JSON.stringify({
                            productId : productId
                        })
                        }).then((response) => {
                            window.location.href = '/cart'
                           
               }
            )
        
   
    });
});


</script>

<%- include('../partials/footer') %>
