<%- include('../partials/header') %>


    <!-- Main Content -->
    <main class="container mx-auto">
        <div class="flex flex-col lg:flex-row">
            <!-- Left Section -->
            <div id="leftSection" class="lg:w-2/3 lg:pr-4">
                <section>
                    <div class="container p-12 mx-auto justify-start">
                        <div class="flex flex-col w-full px-0 mx-auto md:flex-row">
                            <div class="flex flex-col md:w-full bg-white shadow-xl border-t mx-12">

                                <h2 class="mb-4 font-bold md:text-xl text-heading text-center mt-5">Personal Details</h2>
                                <div class="flex-row items-center mb-4">
                                    <ul class="text-center space-y-1 text-gray-900 list-none list-inside dark:text-gray-900">
                                        <li>
                                            <span>Name : <%= getUser.name %> </span>
                                        </li>
                                        <li>
                                            <span>Email : <%= getUser.email %> </span>
                                        </li>
                                        <li>
                                            <span>Phone : <%= getUser.phone %> </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section  id="shippingAddressSection">
        <!--------------- Shipping Address Section --------------->
        <% if(address.length == 0){ %>
            <h2 class="mb-4 mt-6 font-bold md:text-xl text-heading text-center">Shipping Address</h2>
            <div class="flex-row items-center mb-4 pl-96 bg-white shadow-xl border-t mx-12 mt-5">
            <a href="/addAddress" class="bg-stone-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded mr-2">Add Address</a>
            </div>
            <% }else{ %>
                    <h2 class="mb-4 mt-6 font-bold md:text-xl text-heading text-center">Shipping Address</h2>
                    <div class="flex-row items-center mb-4 pl-96 bg-white shadow-xl border-t mx-12">
                        <% for (let i = 0; i < address.length; i++) { %>
                            <input type="radio" name="selectedAddress" class="address-radio w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-700 dark:border-gray-600" value="<%= address[i].id %>">
                            <ul class="text-sm text-gray-900 list-none list-inside dark:text-gray-900">
                                <li>
                                    <%= address[i].name %></li>
                                <li>
                                    <%= address[i].address %>, <%= address[i].city %></li>
                                <li>
                                    <%= address[i].pincode %>, <%= address[i].state %>, <%= address[i].country %></li>
                            </ul>
                        <% } %>
                    </div>
                    <% } %>
              </section>
                <section class="mt-12 ml-96 bg-white">
                    <!-- Coupons Section -->
                    <h3 class="text-lg font-bold text-[#333] mb-6">Coupons</h3>
                    <select id="couponValues" class="bg-gray-50 h-9 w-56 mt-5 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block p-1.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected disabled selected>Available Coupons</option>
                        <% coupon.forEach(coup => { %>
                            <option value="<%= coup.discount %>"><%= coup.couponCode %></option>
                            <% }) %>
                    </select>
                    <div class="flex gap-6 max-sm:flex-col mt-5">
                        <button id="addCoupon" type="button" class="rounded-md px-6 py-1.5 w-32 text-sm font-thin bg-cyan-400 text-gray-900 hover:bg-[#222] hover:text-white">
                        Add Coupon</button>
                  
                        <button id="removeCoupon" type="button" class="rounded-md px-6 py-1 w-32 text-sm font-thin bg-red-600 text-gray-900 hover:bg-[#222] hover:text-white">
                        Remove </button>
                    </div>
                </section>
                <section class="mt-12 ml-96 bg-white">
                    <!-- Payment Method Section -->
                    <h3 class="text-lg font-bold text-[#333] mb-6">Payment Method</h3>
                    <div class="flex-col mb-4">
                        <input id="default-radio-1" type="radio" value="Cash on Delivery" name="paymentMethod" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300  dark:bg-gray-700 dark:border-gray-600">
                        <label for="paymentMethod" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-900">Cash on Delivery</label>

                        <input id="default-radio-2" type="radio" value="Razor Pay" name="paymentMethod" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300  dark:bg-gray-700 dark:border-gray-600">
                        <label for="paymentMethod" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-900">Razor Pay</label>

                        <input id="default-radio-2" type="radio" value="Wallet" name="paymentMethod" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300  dark:bg-gray-700 dark:border-gray-600">
                        <label for="paymentMethod" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-900"> Wallet </label>
                        <span id="walletAmount">100</span>
                    </div>
                </section>
                <section>
               <% if(Array.isArray(wallet) && wallet.length == 0) { %>
                    <div class="flex gap-6 max-sm:flex-col mt-10">
                            <button type="button" class="rounded-md px-6 h-12 py-3 w-full text-sm font-semibold bg-stone-300 hover:bg-gray-100 border-2 text-[#333]">Cancel</button>
                            <button id="placeOrder" type="button" class="rounded-md h-12 px-6 py-1 w-full text-sm font-semibold bg-[#50b367] text-white hover:bg-[#222]" >
                                Complete Purchase
                           </button>
                      </div>
                <% }else{ %>
                <div class="flex gap-6 max-sm:flex-col mt-10">
                    <button type="button" class="rounded-md px-6 h-12 py-3 w-full text-sm font-semibold bg-stone-300 hover:bg-gray-100 border-2 text-[#333]">Cancel</button>
                    <button id="placeOrder" value="<%= wallet[0].amount %>" type="button" class="rounded-md h-12 px-6 py-1 w-full text-sm font-semibold bg-[#50b367] text-white hover:bg-[#222]" >
                        Complete Purchase
                         </button>
                      </div>
                      <% } %>
                </section>
            </div>
            <!-- Right Section -->
            <div id="rightSection" class="lg:w-1/3 lg:pl-4 mt-4 lg:mt-0">
                <section>
                    <div class="flex flex-col w-full ml-0 lg:ml-12 lg:w-2/5 mt-5">
                        <div class="pt-12 md:pt-0 2xl:ps-4 bg-white shadow-md rounded-md">
                            <h2 class="text-xl font-bold">Order Summary</h2>
                            <div class="mt-8">
                  <div class="container">
                                <% for (let i = 0; i < products.length; i++) { %>
                                    <div class="flex-col space-x-4 mt-4 mb-4">
                                        <div>
                                            <img src="/product_images/<%= products[i].productImage[0] %>" alt="image" class="w-28 h-32 rounded-xl">
                                        </div>
                                        <div>
                                            <h2 class="text-md font-bold"><%= products[i].productName %></h2>
                                            <ul>
                                                <li class="flex text-xs flex-wrap gap-4">Size: <span class="text-end"><%= products[i].size %></span></li>
                                                <li class="flex text-xs flex-wrap gap-4">Total Price: <span class="text-end"><%= products[i].price %></span></li>
                                                <li class="flex text-xs flex-wrap gap-4">Quantity: <span class="text-end"><%= quantity[i] %></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                                </div>

                                <div class="flex items-center w-full py-4 text-xs font-thin border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
                                    Subtotal<span id="subTotal" class="ml-2"> <%= totalPrice %>₹ </span>
                                </div>
                                <div class="flex items-center w-full py-4 text-xs font-thin border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
                                    Shipping Tax<span class="ml-2">00.00₹</span>
                                </div>
                                <div class="flex items-center w-full py-4 text-xs font-thin border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
                                    Discount Amount<span id="discountAmount" class="ml-2">00.00₹</span>
                                </div>
                                <div class="flex items-center w-full py-4 text-sm font-semibold border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
                                    Total<span id="totalPrice" class="ml-2"> <%= totalPrice %>₹ </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </main>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

   //<------------ coupon applying -------------->
const addCouponButton = document.getElementById('addCoupon');
addCouponButton.addEventListener('click', () => {
            const subTotal = parseFloat(document.getElementById('subTotal').innerText);
            const discount = parseFloat(document.getElementById('couponValues').value);
            if(isNaN(discount)){
                toastr.warning('Please Select a coupon');
            }else{
                const discountAmount = (subTotal * discount) / 100;
            const total = document.getElementById('totalPrice').innerText = subTotal - discountAmount;
            const discountDisplay = document.getElementById('discountAmount').innerText = Math.round(discountAmount);
            toastr.success('Coupon added');
         }
   });

    //<------------ coupon remove -------------->
const removeCouponButton = document.getElementById('removeCoupon');

removeCouponButton.addEventListener('click', () => {
    var selectElement = document.getElementById("couponValues");
        if(selectElement.selectedIndex > 0){
            selectElement.selectedIndex = 0;
        const discountDisplay = document.getElementById('discountAmount').innerText = 0+'₹';
        toastr.success('Coupon removed');
        }else{
            toastr.warning('Please select a coupon');
      }}
  );


    //<------------ order creating -------------->
    document.addEventListener("DOMContentLoaded", function() {
    const discountAmount = document.getElementById('discountAmount').innerText;
    const subTotal = parseFloat(document.getElementById('subTotal').innerText)
    const TotalPrice = parseFloat(document.getElementById('totalPrice').innerText)
    const placeOrderButton = document.getElementById('placeOrder');
    placeOrderButton.addEventListener('click', function() {
        // if(noAddress){
        //     throw error
        // }

        var selectedRadios = document.querySelectorAll('input[name="selectedAddress"]:checked');
        
        if (selectedRadios.length > 0) {
            // If at least one radio button is selected, get the value of the first selected one
            var selectedId = selectedRadios[0].value;
            toastr.success('Address selected');
        } else {
            toastr.error('Please select an address');
        }

        const paymentMethod = document.getElementsByName('paymentMethod');
        let selectedValue = "";
        const totalPriceElement = document.getElementById('totalPrice');
            const totalPrice = parseFloat(totalPriceElement.textContent);
            paymentMethod.forEach(radio => {
                if (radio.checked) {
                    selectedValue = radio.value;
                }
            });
        if(!selectedValue){
              toastr.error('Please select a payment method');
        }     
        
        
   //<------------ for cash on delevery -------------->
      if(selectedValue == "Cash on Delivery"){
        const paymentMethod = selectedValue;
        if(totalPrice > 1000){
            toastr.error('Cannot order over 1000₹ product using COD');
        }else{
            fetch('/placeOrder',{
                        method:"POST",
                        headers:{
                            "Content-Type" : "application/json"
                        },
                        body:JSON.stringify({
                            totalPrice : totalPrice,
                            paymentMethod : paymentMethod,
                            subTotal : subTotal,
                            addressId : selectedId
                        })
                        }).then(() => {
                            window.location.href = '/orderSuccess'
               }
            )
        }}else if(selectedValue == "Razor Pay"){
       //<------------ for Razor pay -------------->
            var orderId;
            fetch('/create-order', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "totalPrice": totalPrice,
                addressId : selectedId
            })})
            .then(response => response.json())
            .then(data => {
            orderId = data.id; 
          }).catch(error => {
        console.error('Error:', error); 
      });
        var options = {
            "key": "rzp_test_3aIOQlQc4egRLE", 
            "amount": totalPrice * 100,
            "currency": "INR",
            "name": "OneCart", 
            "description": "Test Transaction",
            "image": "/images/onecart-log.avif",
            "order_id": orderId, 
            "handler": function (response){
                const paymentMethod = selectedValue;
                        fetch('/placeOrder',{
                        method:"POST",
                        headers:{
                            "Content-Type" : "application/json"
                        },
                        body:JSON.stringify({
                            totalPrice : totalPrice,
                            paymentMethod : paymentMethod,
                            subTotal : subTotal,
                            addressId : selectedId
                          })
                            }).then(() => {
                                    window.location.href = '/orderSuccess'
                                })
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)
            },
        "prefill": { 
            "name": "Gaurav Kumar", //customer's name
            "email": "gaurav.kumar@example.com", 
            "contact": "9000090000"  //customer's phone number 
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }};
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
            alert('Payment failed')
                // alert(response.error.code);
                // alert(response.error.description);
                // alert(response.error.source);
                // alert(response.error.step);
                // alert(response.error.reason);
                // alert(response.error.metadata.order_id);
                // alert(response.error.metadata.payment_id);
            });
            document.getElementById('placeOrder').onclick = function(e){
                rzp1.open();
                e.preventDefault();
                }}else if(selectedValue == "Wallet"){
                     //<------------ for wallet -------------->
                    const walletAmount = document.getElementById('placeOrder').value;
                    if(walletAmount < totalPrice){
                        toastr.error('insufficient amount in wallet');
                    }else{
                        const paymentMethod = selectedValue;
                        fetch('/placeOrder',{
                        method:"POST",
                        headers:{
                            "Content-Type" : "application/json"
                        },
                        body:JSON.stringify({
                            totalPrice : totalPrice,
                            paymentMethod : paymentMethod,
                            subTotal : subTotal,
                            addressId : selectedId
                          })
                            }).then(() => {
                                    window.location.href = '/orderSuccess'
                            })
                         }
                }})
            
            })





   </script>

        <%- include('../partials/footer') %>