<%- include('../partials/header') %>

<main class="flex justify-start">
    <section class="justify-start">
        <%- include('../partials/userProfile') %>
    </section>
    
 
    <div class="ml-80">


    <section class="justify-start  w-full m-4  h-96 text-center">
        <div>
            <div class="px-4 sm:px-0">
                <p class="mt-1  font-bold max-w-2xl text-sm leading-6 text-gray-800">Personal Address</p>
            </div>
            <div class="overflow-x-auto ">
                <table class="min-w-full divide-y divide-gray-200">
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm font-medium text-gray-900">Name</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm text-gray-700"><%= address.name %></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm font-medium text-gray-900">Mobile No</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm text-gray-700"><%= address.mobile %></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm font-medium text-gray-900">Address</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm text-gray-700"><%= address.address %></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm font-medium text-gray-900">Pincode</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm text-gray-700"><%= address.pincode %></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm font-medium text-gray-900">City</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm text-gray-700"><%= address.city %></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm font-medium text-gray-900">State</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="text-sm text-gray-700"><%= address.state %></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="w-64">
        <a href="/addAddress" class="ml-4 px-8 py-0.5 font-light text-sm border border-black dark:border-gray-950  text-neutarl-700  ">
            Change
          </a>
    </section>

<section class="mt-5">

    <table class="min-w-full divide-y divide-gray-200">
        <tbody class="bg-white divide-y divide-gray-200">
            
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="text-sm font-medium text-gray-900">Name</span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="text-sm text-gray-700"><%= getUser.name %></span>
                </td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="text-sm font-medium text-gray-900">Email</span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="text-sm text-gray-700"><%= getUser.email %></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="w-52 h-20 border border-gray-950 text-center py-5 font-bold text-lg mt-16">
    <span>COD</span>
</section>

<section class="bg-gray-950 mt-12 text-gray-50">
    <a href="/getOrderHistory/<%= encodeURIComponent(cart) %>/<%= encodeURIComponent(getUser) %>/<%= encodeURIComponent(address) %>/<%= totalPrice %>">checkout</a>

</section>
</div> 
</main>

<%- include('../partials/footer') %>