<%- include('../partials/header') %>

  <!-- flash comfiguration -->


<main class="justify-center">
    <section class="py-12 sm:py-16 p-32"> 
        <div class="container mx-auto px-4">
          <nav class="flex">
            <ol role="list" class="flex items-center">
              <li class="text-left">
                <div class="-m-1">
                  <a href="/home" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800"> Home </a>
                </div>
              </li>
              <li class="text-left">
                <div class="flex items-center">
                  <span class="mx-2 text-gray-400">/</span>
                  <div class="-m-1">
                    <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800" aria-current="page"> product </a>
                  </div>
                </div>
              </li>
            </ol>
          </nav>
      
  <!------------ products -------------->
          <div class="lg:col-gap-12 xl:col-gap-16 mt-8 grid grid-cols-1 gap-12 lg:mt-12 lg:grid-cols-5 lg:gap-16">
            <div class="lg:col-span-3 lg:row-end-1">
              <div class="lg:flex lg:items-start">
                <div class="lg:order-2 lg:ml-5">
                  <div id="container" class="max-w-xl overflow-hidden rounded-lg">
                    <img id="img-container" class="h-full w-full max-w-full object-cover" src="/product_images/<%- datas[0].productImage[0] %>" alt="big" />
                  </div>
                </div>
                <div class="mt-2 w-full lg:order-1 lg:w-32 lg:flex-shrink-0">
                  <div class="flex flex-row items-start lg:flex-col">
                    <button type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-gray-900 text-center">
                      <img class="h-full w-full object-cover" src="/product_images/<%- datas[0].productImage[0] %>" alt="" />
                    </button>
                    <button type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-transparent text-center">
                      <img class="h-full w-full object-cover" src="/product_images/<%- datas[0].productImage[1] %>" alt="" />
                    </button>
                    <button type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-transparent text-center">
                      <img class="h-full w-full object-cover" src="/product_images/<%- datas[0].productImage[2] %>" alt="" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
              <h1 class="sm: text-2xl font-bold text-gray-900 sm:text-3xl"> <%- datas[0].productName %> </h1>
              <div class="mt-5 flex items-center">
                <div class="flex items-center">
                  <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                  </svg>
                  <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                  </svg>
                  <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                  </svg>
                  <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                  </svg>
                  <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                  </svg>
                </div>
  <!------------ reviews -------------->
                <p class="ml-2 text-sm font-medium text-gray-500">1,209 Reviews</p>
              </div>
      
      <div class="flex-row">
        <div class="mt-10  flex-col items-center justify-between space-y-4 border-t  py-4 sm:flex-row sm:space-y-0">
          <div class=" items-end">
            <h1 class="text-3xl font-sans"><%- datas[0].brand %></h1>
          </div>
         </div>   
        <div class="mt-2  flex-col items-center justify-between space-y-4  border-b py-4 sm:flex-row sm:space-y-0">
     
        <div class="mt-0 flex-col items-center justify-between space-y-4 border-t  py-4 sm:flex-row sm:space-y-0">
          <div class=" items-end">
            <h1 class="text-1xl font-medium"><%- datas[0].color %></h1>
          </div>
         </div>   
       </div>
       <% if(datas[0].offer && datas[0].offer[0] && datas[0].offer[0].offerPrice) { %>
         <h1 class="text-1xl font-medium line-through text-red-400">₹<%- datas[0].price %>.00</h1>
         <h1 class="text-1xl font-medium">₹<%- datas[0].offer[0].offerPrice %>.00</h1>
       <% } else { %>
         <h1 class="text-1xl font-medium">₹<%- datas[0].price %>.00</h1>
       <% } %>

              <ul class="mt-8 space-y-2">
                <li class="flex items-center text-left text-sm font-medium text-gray-600">
                  <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" class=""></path>
                  </svg>
                  Free shipping worldwide
                </li>
                <li class="flex items-center text-left text-sm font-medium text-gray-600">
                  <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" class=""></path>
                  </svg>
                  Cancel Anytime
                </li>
              </ul>
      <div class="flex-row mt-12">
        <select id="quantitySelect" class="block appearance-none bg-transparent border border-gray-300 px-2 rounded-md leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <% if(datas[0].stock > 0) { %>
          <% for (let i = 1; i <= datas[0].stock; i++) { %>
            <option class="text-gray-950" value="<%= i %>"> <%= i %> </option>
        <% } %>
        <% }else { %>
          <option class="text-gray-950" value="">Out of stock  </option>
          <% } %>
        </select>

        <button type="button" onclick="addToCartWithQuantity('<%= datas[0]._id %>','<%= datas[1] %>')" class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none  text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800 h-10 w-36">
            <span class="text-xs">Add to cart</span>
          </button>

           <button type="button" onclick="addTowishlistWithQuantity('<%= datas[0]._id %>','<%= datas[1] %>')" class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800 h-10 w-36">
            <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                 </svg>
             <span class="text-xs">Add to wishlist</span>
           </button> 
        </div>
      </div>  
         <div class="lg:col-span-3 mt-56">
             <div class="border-b border-gray-300">
                <nav class="flex gap-4">
                  <a href="#" title="" class="border-b-2 border-gray-900 py-4 text-sm font-medium text-gray-900 hover:border-gray-400 hover:text-gray-800"> Description </a>         
                  <a href="#" title="" class="inline-flex items-center border-b-2 border-transparent py-4 text-sm font-medium text-gray-600">
                    Reviews
                    <span class="ml-2 block rounded-full bg-gray-500 px-2 py-px text-xs font-bold text-gray-100"> 1,209 </span>
                  </a>
                </nav>
              </div>
              <div class="mt-8 flow-root sm:mt-12">
                <p class="text-1xl font-thin"><%- datas[0].description %></p>
             </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-24">
        <div class="text-center">
            <span class="michroma-regular text-gray-900">Related Products</span>
        </div>
      
          <div class="bg-white ">
              <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                  <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                      <% datas[2].forEach((product) => { %>
                      
                      <div class="group relative">
                          <div class="group-hover:scale-110 transition-all duration-300  aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-transparent lg:aspect-none group-hover:opacity-75 lg:h-80">
                              <img src="/product_images/<%= product.productImage[0] %>">
                          </div>
                          <div class="mt-4 flex justify-between">
                              <div>
                                  <h3 class="text-sm text-gray-700">
                                      <a href="/product/<%= product._id %>">
                                          <span aria-hidden="true" class="absolute inset-0"></span>
                                          <%= product.productName %>
                                      </a>
                                  </h3>
                                  <p class="mt-1 text-sm text-gray-500"><%= product.color %></p>
                              </div>
                              <p class="text-sm font-medium text-gray-900"><%= product.price %>₹</p>
                          </div>
                      </div>
                  
                  <% }) %>
                  </div>
              </div>
          </div>
</section>

   <script>
      //<------------ to cart page -------------->
const addToCartWithQuantity = (productId, userId) => {
    const quantitySelect = document.getElementById('quantitySelect');
    const selectedQuantity = parseInt(quantitySelect.value);
    if (!isNaN(selectedQuantity)) { 
        fetch(`/addTocart`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productId: productId,
                userId: userId,
                quantity: selectedQuantity
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                // Display error SweetAlert
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.error
                });
            } else {
                // Display success SweetAlert
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message
                }).then(() => {
                    window.location.href = `/cart`;
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    } else {
        console.log('Invalid quantity selected');
    }
};

   //<------------ to wishlist page -------------->
const addTowishlistWithQuantity = (productId, userId) => {
    const quantitySelect = document.getElementById('quantitySelect');
    const selectedQuantity = parseInt(quantitySelect.value);
    if (!isNaN(selectedQuantity)) { 
        fetch(`/addToWishlist`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productId: productId,
                userId: userId,
                quantity: selectedQuantity
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                // Display error SweetAlert
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.error
                });
            } else {
                // Display success SweetAlert
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message
                }).then(() => {
                    window.location.href = `/wishlist`;
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    } else {
        console.log('Invalid quantity selected');
    }
};


//<------------ image zoom script -------------->
const container = document.getElementById("container");
const img = document.getElementById("img-container");

container.addEventListener('mousemove', (e) => {
  const x = e.clientX - e.target.offsetLeft;
  const y = e.clientY - e.target.offsetTop;
  img.style.transition = 'transform 0.2s';
  img.style.transformOrigin = `${x}px ${y}px`;
  img.style.transform = "scale(2)";
});

container.addEventListener('mouseleave', () => {
  img.style.transition = 'transform 0.2s';
  img.style.transformOrigin = "center";
  img.style.transform = "scale(1)";
});

</script>      

</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>



<%- include('../partials/footer') %>