<%- include('../partials/header') %>

<main>
    <section class=" h-14 text-center mt-16 p-4 justify-center flex">
        <hr class="w-96">
        <span class="text-gray-900 michroma-regular">PRODUCTS</span>
        <hr class="w-96">
      </section>  

<!-- Products -->
<section class="ml-20">
    <div class="bg-white ">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <% products.forEach((product) => { %>
                <div class="group relative ">


                    <div class=" aspect-h-1 h-[350px] sm:h-[400px] overflow-hidden group">
                        <img src="/product_images/<%= product.productImage[0] %>" alt="" class="absolute inset-0 w-full object-fill rounded-md h-88 opacity-100 transition-opacity duration-500 group-hover:opacity-0" />
                        <img src="/product_images/<%= product.productImage[1] %>" alt="" class="absolute inset-0 w-full object-fill rounded-md h-88 opacity-0 transition-opacity duration-500 group-hover:opacity-100" />
                    </div>
                    
                    <div class="  justify ">
                                <a href="/product/<%= product._id %>" class="font-bold">
                                    <%= product.productName %>
                                </a>
                            <p class="mt-1 text-sm text-gray-500"><%= product.color %></p>
                   
                        <p class="text-sm font-medium text-gray-900"><%= product.price %>₹</p>
                    </div>
                </div>
                <% }) %>
      
            </div>
        </div>
    </div>
</section>


</main>

<%- include('../partials/footer') %>