<%- include('../partials/header') %>

<main class="flex justify-start">
<section class="justify-start">
    <%- include('../partials/userProfileSidebar') %>
</section>

    <section class="p-12"> 
<form method="post" action="/addAddress">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
            <div class="mt-2">
              <input type="text" name="name" id="name" autocomplete="given-name" class="block w-full  border border-gray-950 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-4">
            <label for="mobile" class="block text-sm font-medium leading-6 text-gray-900">Mobile No</label>
            <div class="mt-2">
              <input id="mobile" min="10" name="mobile" type="number" autocomplete="mobile" class="block w-full  border border-gray-950 py-1.5 text-gray-900 shadow-sm  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
            <div class="mt-2">
              <select id="country" name="country" autocomplete="country" class="block w-full border border-gray-950 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <% countries.sort().forEach(country => { %>
                <option value="<%= country %>"><%= country %></option>
                <% }) %>
            </select>
            </div>
          </div>

          <div class="col-span-full">
            <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Street address</label>
            <div class="mt-2">
              <input type="text" name="address" id="address" autocomplete="address" class="block w-full border border-gray-950 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-2 sm:col-start-1">
            <label for="pincode" min="5" class="block text-sm font-medium leading-6 text-gray-900">Pincode</label>
            <div class="mt-2">
              <input type="number" name="pincode" id="pincode" autocomplete="address-level2" class="block w-full  border border-gray-950 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
            <div class="mt-2">
              <input type="text" name="city" id="city" autocomplete="address-level2" class="block w-full  border border-gray-950 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div class="sm:col-span-2">
            <label for="state" class="block text-sm font-medium leading-6 text-gray-900">State</label>
            <div class="mt-2">
              <input type="text" name="state" id="state" autocomplete="address-level1" class="block w-full  border border-gray-950 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
    
        </div>
      </div>
      </div>
      </div>
    <div class="flex w-32 items-center justify-center gap-x-6 bg-red-500">
      <button type="submit" class=" bg-ind border-gray-950o-600 px-3 py-2 text-sm font-semibold text-gray-100 shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
    </div>
  </form>
    </section>

</main>

<script>
  function parseQueryParams() {
      var queryParams = {};
      var queryString = window.location.search.substring(1);
      var params = queryString.split("&");
      for (var i = 0; i < params.length; i++) {
          var pair = params[i].split("=");
          queryParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
      }
      return queryParams;
  }

  document.addEventListener('DOMContentLoaded', function() {
      var queryParams = parseQueryParams();
      var message = queryParams['message'];
      var type = queryParams['type'];
      if (message) {
          if (type === 'success') {
              toastr.success(message);
          } else if (type === 'error') {
              toastr.error(message);
          }
      }
  });
</script>

<%- include('../partials/footer') %>